[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
[submodule "django-pg-docker-tutorial"]
	path = django-pg-docker-tutorial
	url = https://github.com/kodxxl/django-pg-docker-tutorial.git
[submodule "shellscripts"]
	path = shellscripts
	url = git@github.com:kodxxl/devops-31-shellscripts.git
